*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background-color: rgb(87,189,130);
    transition: background 0.5s ease ;
    position: relative;
}
.name, 
.email,
.password,
.finish{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: wheat;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    transition: all 0.5s ease;

}
.name input,
.email input,
.password input,
.finish input{
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
}
.name i, 
.email i,
.password i,
.finish i{
    padding: 10px;
    cursor: pointer;
}
div.innactive{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%);
}
div.active{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50% ,-50%);
}
